[Unit]
Description=linuxmuster-client-auth LDAP autoconfiguration
Requires=networking.service NetworkManager-wait-online.service
After=networking.service NetworkManager-wait-online.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/linuxmuster-client-auth-ldap-autoconfiguration


[Install]
WantedBy=multi-user.target
